@import url("https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap");

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

header {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.main-pages {
  padding-bottom: 6.8em;
  min-width: 80%;
}

.sports-positioning,
.entertainment-positioning,
.business-positioning,
.search-positioning {
  bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 11%;
}

.sports-box,
.entertainment-box,
.business-box,
.search-list-box {
  display: flex;
  height: 18em;
  width: calc(80% * (1 / 2));
  text-align: center;
  margin: 1%;
}

.left-box {
  display: flex;
  flex-direction: column;
  margin-right: 1%;
  width: 39%;
  height: 100%;
  overflow: hidden;
}

.right-box {
  margin-top: 5%;
  display: flex;
  width: 60%;
  height: 80%;
  margin-bottom: 10%;
}

.right-box img {
  height: 100%;
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

.left-box h3 {
  font-size: 1em;
  height: 40%;
  max-height: 50%;
  width: 100%;
  text-align: center;
  margin: 2%;
  margin-top: 15%;
  overflow: hidden;
  padding: 5px;
}

.left-box p {
  font-size: 0.8em;
  height: 50%;
  overflow: hidden;
  width: 100%;
  text-align: center;
  margin: 2%;
  padding: 5px;
}

.name {
  font-family: "Vast Shadow", cursive;
  display: flex;
  font-size: 25px;
  justify-content: center;
}

.about {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  width: 60%;
}

.about h3 {
  font-size: 1em;
  font-weight: bold;
}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  height: 5px;
}

.home-top .right-box {
  height: 100%;
}

.home-top .right-box img {
  height: 100%;
}

.search-bar {
}

#category-search {
  display: flex;
  flex-wrap: wrap;
}

.search-options {
  font-size: 0.8rem;
  max-height: 50px;
  z-index: 1;
  overflow: scroll;
  font-family: "Vast Shadow", cursive;
}

#category {
  width: 80%;
}

.go-button {
  width: 20%;
  height: 50%;
}
