* {
    box-sizing: border-box;
}

.home-top {
    margin: auto;
    margin-top: 2%;
    width: 80%;
    text-align: center;
    margin-bottom: 2%;
}

.home-top h3 {
    font-size: 2em;
}

.home-top .top-stories {
    margin-top: 10px;
    height: 10%;
}

.home-top img {
    width: 99%;
    height: 80%;
    margin-bottom: 10%;
    margin-top: -10%;
}

.home-bottom img {
    height: 80%;
    max-width: 90%;
}

.home-bottom {
    width: 80%;
    margin: auto;
    margin-top: 2%;
    text-align: center;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    max-height: 50%;
}

.home-bottom .top-stories {
    width: 48%;
    margin: 5px;
    flex: 2;
}

.home-bottom .left-box h3 {
    height: 50%;
}

.home-bottom .left-box p {
    height: 50%;
}

.home-bottom .right-box {
    height: 80%;
    margin: auto;
}

.home-bottom .right-box img {
    height: 100%;
    width: 100%;
    margin: auto;
}

.top-stories {
    display: flex;
}

.top-stories .left-box, .top-stories .right-box {
    display: flex;
    height: 100%;
    width: 48%;
    padding: 2px;
}

.home-hr {
    border: none;
    border-top: 1px solid #333;
    color: #333;
    height: 5px;
    width: 80%;
}