nav {
    border: 1px solid black;
    background-color: rgb(211, 206, 197);
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;

}

ul li {
    font-size: 1.8em;
    margin: auto;
    justify-content: space-evenly;
}

li a {
    text-decoration: none;
    color: black;
    padding: 5px;
    border: 1px solid grey;
}

li .search-bar {
    display: flex;
    padding: 12px;
}

#category-search {
    display: flex;
}

li .name {
    display: flex;
    font-size: 12px;
}